.awssld {
  --organic-arrow-thickness: 6px;
  --organic-arrow-height: 60px;
  --slider-height-percentage: 60%;
  --loader-bar-color: #293c2b;
  --loader-bar-height: 6px;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-opacity: 0.75;
  --control-button-hover-opacity: 1;
  --control-button-background: transparent;
  --transition-bezier: cubic-bezier(0.5, 0.075, 0.25, 0.95);
  --slider-transition-duration: 850ms;
  --organic-arrow-color: #dec580 ;
  --organic-arrow-border-radius: 4px;
  --control-bullet-color: #d3ae65;
  --control-bullet-active-color: #dec580;
  --content-background-color: #293c2b;
}
